@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('./hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px #929191;
    max-width: 620px;
    min-width: 460px;
    text-align: center;
    width: 90vw;
    padding: 4rem 0rem;
}

.banner h1 {
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.modal-btn {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 2px solid rgb(35, 163, 248);
    background: rgb(35, 163, 248);
    color: #ffffff;
    box-shadow: none;
}

.modal-btn:hover {
    border: 2px solid rgb(35, 163, 248);
    background: transparent;
    color: rgb(35, 163, 248);
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(27, 169, 252, 0.34);
    visibility: hidden;
    z-index: -10;
}

.modal-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px #929191;
    max-width: 620px;
    min-width: 460px;
    text-align: center;
    width: 90vw;
    padding: 2rem 0rem;
    position: relative;
}

.modal-container h3 {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding: 2rem;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(195, 46, 46);
    font-size: 2rem;
    font-weight: bold;
    border: transparent;
    background-color: transparent;
}

.close-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.show-modal {
    visibility: visible;
    z-index: 10;
}